BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
SortIncludes: Never
IncludeBlocks: Preserve
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
